
.grad1 {
    height: 200px;
    background: lightgreen; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, rgb(102, 255, 102)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgb(102, 255, 102)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgb(102, 255, 102)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgb(102, 255, 102)); /* Standard syntax (must be last) */
}


  .container {
    text-align: center;
  }

  h1 {
    font-family: Avenir;
    font-size: 80px;
    text-align: center;
    color: black;
    padding: 20px;
  }

  h2 {
    font-family: Avenir;
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-family: Avenir;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
   font-family: Avenir;
   font-size: 20px;
   color: black;
  }

  p.left {
    text-align: center;
  }

  body {
   font-family: Avenir;
   font-size: 20px;
   color: black;
  }


.form {
  font-family: Avenir;
  font-size: 20px;
  color: black;
}




a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    text-decoration: none;
    color: #7FFF00;
}


a:hover {
  text-decoration: none;
  color: hotpink;
}


a:active {
    text-decoration: none;
    /*background: hotpink;*/
    color: white;
}
