
  .container {
    text-align: center;
  }


  h1.title {
    font-family: Avenir;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: green;
    padding: 20px;
  }

  h2 {
    font-family: Avenir;
    font-size: 50px;
    text-align: center;
  }

  h3 {
    font-family: Avenir;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
   font-family: Avenir;
   font-size: 20px;
   color: black;
  }

  p.left {
    text-align: left;
  }

  body {
   font-family: Avenir;
   font-size: 20px;
   color: black;
  }


.form {
  font-family: Avenir;
  font-size: 20px;
  color: black;
}




a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: green;
}


a:hover {
  text-decoration: none;
  color: hotpink;
}


a:active {
    text-decoration: none;
    /*background: hotpink;*/
    color: white;
}
