<br>
<br>

<h1 class="title">Spot and Identify</h1>

<br>

<br>
<p>"Make Get Request To '/people'</p>
<button type = "button" class = "btn btn-default" id = "get_people">Make Request</button>
<div class="people_list">

</div>


<br><br>
<br><br>
______
<br><br>
<br><br>



<div class="container" id="maincontent" tabindex="-1">
    <div class="row">
      <%= form_tag('/people', method: :post) do %>

          <p>New Person Name:</p>
          <%= text_field_tag :name_for_post %><br><br>

          <p>New Person Favorite City:</p>
          <%= text_field_tag :favoriteCity_for_post %><br><br>

          <button type = "submit" class = "btn btn-default" id = "post_person">Post to /people</button>

      <% end %>

    </div>

    <div class="show_person">
    </div>


</div>


<br><br>
<br><br>
______
<br><br>
<br><br>


<div class="success">

    <p>Update Person 1's Favorite City:</p><br>
    <%= text_field_tag :favoriteCity_for_put %><br><br>

    <button type = "submit" class = "btn btn-default" id = "update_person">Update Person</button>

  <div class="person_one_show_update">
  </div>

</div>


<br><br>
<br><br>
______
<br><br>
<br><br>

<div class="delete_person">

    <p>Delete Person 1's</p><br>

    <button type = "submit" class = "btn btn-default" id = "delete_person">Delete Person 1</button>


  <div class="delete_message">

  </div>


</div>

<br><br>
<br><br>
_____ Done! _____
<br><br>
<br><br>
